<!DOCTYPE html>
<html lang="en">
    <div class ="grid-container">
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Modern Crown</title>
    </head>
    <body>
        <header class="header">
            <div class="brand">
                <a href="index.html">Modern Crown</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Shopping Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <aside>
            Product Categories
        </aside>
        <main>
            <ul>
                <li>Red Hat</li>
                <li>Black Belt</li>
                <li>Jeans</li>
                <li>Green Hat</li>
                <li>Shoes</li>
            </ul>
        </main>
        <footer class="footer">
            &copy; 2023 Modern Crown
        </footer>
     </body>
    </div>
</html>